<?xml version="1.0"?>
<model>
  <name>tag_panel</name>
  <version>1.0</version>
  <description>
    Tag panel for robotics aerial project
  </description>
  <author>
    <name>Julen Cayero</name>
    <email>julen.cayero@eurecat.org</email>
  </author>
  <sdf version='1.3'>tag_panel.sdf</sdf>
</model>


